@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
   :root {
      --radius: 0.5rem;
   }
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
}

* {
   font-family: "Bitter", serif;
   font-style: normal;
}
