@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

@plugin "tailwindcss-animate";
@import "tailwindcss";

@layer base {
   :root {
      --radius: 0.5rem;
   }
}

@theme {
   --radius-lg: var(--radius);
   --radius-md: calc(var(--radius) - 2px);
   --radius-sm: calc(var(--radius) - 4px);
}

* {
   font-family: "Bitter", serif;
   font-style: normal;
}
